<HTML>
<HEAD>
   <TITLE>ACIS Radiation Correlations</TITLE>
</HEAD>
<BODY TEXT="#DDDDDD" BGCOLOR="#000000" LINK="#FF0000" VLINK="#FFFF22" ALINK="#7500FF" background="../stars.jpg">

<h1><center>ACIS Radiation Correlations</center></h1>
<ul>GOES-13, ACE, EPHIN, and ACIS count rates plotted on the same time scale.
Also shown on the same timescale is a stripchart of Chandra configuration.
EPHIN thresholds are shown at 1/3 the RADMON trip levels and 
rad zones are defined as times above these thresholds.<br>
See also <a href="rad_time.html">Rad zone timing plots</a>.
</ul>
<br>
<center>
<table border=0 cellpadding=6 cellspacing=6>

<tr>
<td colspan=3>
	<table border=1 width=100%>
	<tr><th> <a href="all.html" style='font-size:120%'>Mission since JAN2010</a></th></tr>
	</table>
</td>
</tr>

<!-- #### 2012 - 2014 ######### -->

<tr>
<td>
	&#160
</td>
<td>

	<table border=1 cellpadding=5 cellspacing=2>

	<tr><td colspan=3 align=center><a href="all13.html">2013</a></td></tr>

	<tr>
	<td><a href="jan13.html">JAN13</a></td>
	<td><a href="feb13.html">FEB13</a></td>
	<td><a href="mar13.html">MAR13</a></td>
	</tr>

	<tr>
	<td><a href="apr13.html">APR13</a></td>
	<td><a href="may13.html">MAY13</a></td>
	<td><a href="jun13.html">JUN13</a></td>
	</tr>

	<tr>
	<td><a href="jul13.html">JUL13</a></td>
	<td>AUG13</a></td>
	<td>SEP13</a></td>
	</tr>

	<tr>
	<td>OCT13</a></td>
	<td>NOV13</a></td>
	<td>DEC13</a></td>
	</tr>
	</table>

</td>
<td>

	<table border=1 cellpadding=5 cellspacing=2>

	<tr><td colspan=3 align=center><a href="all12.html">2012</a></td></tr>

	<tr>
	<td><a href="jan12.html">JAN12</a></td>
	<td><a href="feb12.html">FEB12</a></td>
	<td><a href="mar12.html">MAR12</a></td>
	</tr>

	<tr>
	<td><a href="apr12.html">APR12</a></td>
	<td><a href="may12.html">MAY12</a></td>
	<td><a href="jun12.html">JUN12</a></td>
	</tr>

	<tr>
	<td><a href="jul12.html">JUL12</a></td>
	<td><a href="aug12.html">AUG12</a></td>
	<td><a href="sep12.html">SEP12</a></td>
	</tr>

	<tr>
	<td><a href="oct12.html">OCT12</a></td>
	<td><a href="nov12.html">NOV12</a></td>
	<td><a href="dec12.html">DEC12</a></td>
	</tr>
	</table>
</td>
</tr>


<!-- #### 2009 - 2011 ######### -->

<tr>
<td>
	<table border=1 cellpadding=5 cellspacing=2>

	<tr><td colspan=3 align=center><a href="all11.html">2011</a></td></tr>

	<tr><td><a href="jan11.html">JAN11</a></td>
	<td><a href="feb11.html">FEB11</a></td>
	<td><a href="mar11.html">MAR11</a></td></tr>

	<tr><td><a href="apr11.html">APR11</a></td>
	<td><a href="may11.html">MAY11</a></td>
	<td><a href="jun11.html">JUN11</a></td></tr>

	<tr><td><a href="jul11.html">JUL11</a></td>
	<td><a href="aug11.html">AUG11</a></td>
	<td><a href="sep11.html">SEP11</a></td></tr>

	<tr>
	<td><a href="oct11.html">OCT11</a></td>
	<td><a href="nov11.html">NOV11</a></td>
	<td><a href="dec11.html">DEC11</a></td
	</tr>
	</table>
</td>
<td>
	<table border=1 cellpadding=5 cellspacing=2>

	<tr><td colspan=3 align=center><a href="all10.html">2010</a></td></tr>

	<tr><td><a href="jan10.html">JAN10</a></td>
	<td><a href="feb10.html">FEB10</a></td>
	<td><a href="mar10.html">MAR10</a></td></tr>

	<tr><td><a href="apr10.html">APR10</a></td>
	<td><a href="may10.html">MAY10</a></td>
	<td><a href="jun10.html">JUN10</a></td></tr>

	<tr><td><a href="jul10.html">JUL10</a></td>
	<td><a href="aug10.html">AUG10</a></td>
	<td><a href="sep10.html">SEP10</a></td></tr>

	<tr><td><a href="oct10.html">OCT10</a></td>
	<td><a href="nov10.html">NOV10</a></td>
	<td><a href="dec10.html">DEC10</a></td></tr>
	</table>
</td>
<td>
	<table border=1 cellpadding=5 cellspacing=2>

	<tr><td colspan=3 align=center><a href="all09.html">2009</a></td></tr>

	<tr><td><a href="jan09.html">JAN09</a></td>
	<td><a href="feb09.html">FEB09</a></td>
	<td><a href="mar09.html">MAR09</a></td></tr>

	<tr><td><a href="apr09.html">APR09</a></td>
	<td><a href="may09.html">MAY09</a></td>
	<td><a href="jun09.html">JUN09</a></td></tr>

	<tr><td><a href="jul09.html">JUL09</a></td>
	<td><a href="aug09.html">AUG09</a></td>
	<td><a href="sep09.html">SEP09</a></td></tr>

	<tr><td><a href="oct09.html">OCT09</a></td>
	<td><a href="nov09.html">NOV09</a></td>
	<td><a href="dec09.html">DEC09</a></td></tr>
	</table>
</td>
</tr>

<!-- #### 2006 - 2008 ######### -->

<tr>
<td>
	<table border=1 cellpadding=5 cellspacing=2>

	<tr><td colspan=3 align=center><a href="all08.html">2008</a></td></tr>

	<tr><td><a href="jan08.html">JAN08</a></td>
	<td><a href="feb08.html">FEB08</a></td>
	<td><a href="mar08.html">MAR08</a></td></tr>

	<tr><td><a href="apr08.html">APR08</a></td>
	<td><a href="may08.html">MAY08</a></td>
	<td><a href="jun08.html">JUN08</a></td></tr>

	<tr><td><a href="jul08.html">JUL08</a></td>
	<td><a href="aug08.html">AUG08</a></td>
	<td><a href="sep08.html">SEP08</a></td></tr>
	
	<tr><td><a href="oct08.html">OCT08</a></td>
	<td><a href="nov08.html">NOV08</a></td>
	<td><a href="dec08.html">DEC08</a></td></tr>
	</table>
</td>
<td>
	<table border=1 cellpadding=5 cellspacing=2>

	<tr><td colspan=3 align=center><a href="all07.html">2007</a></td></tr>

	<tr><td><a href="jan07.html">JAN07</a></td>
	<td><a href="feb07.html">FEB07</a></td>
	<td><a href="mar07.html">MAR07</a></td></tr>
	
	<tr><td><a href="apr07.html">APR07</a></td>
	<td><a href="may07.html">MAY07</a></td>
	<td><a href="jun07.html">JUN07</a></td></tr>
	
	<tr><td><a href="jul07.html">JUL07</a></td>
	<td><a href="aug07.html">AUG07</a></td>
	<td><a href="sep07.html">SEP07</a></td></tr>
	
	<tr><td><a href="oct07.html">OCT07</a></td>
	<td><a href="nov07.html">NOV07</a></td>
	<td><a href="dec07.html">DEC07</a></td></tr>
	</table>
</td>
<td>
	<table border=1 cellpadding=5 cellspacing=2>

	<tr><td colspan=3 align=center><a href="all06.html">2006</a></td></tr>

	<tr><td><a href="jan06.html">JAN06</a></td>
	<td><a href="feb06.html">FEB06</a></td>
	<td><a href="mar06.html">MAR06</a></td></tr>
	
	<tr><td><a href="apr06.html">APR06</a></td>
	<td><a href="may06.html">MAY06</a></td>
	<td><a href="jun06.html">JUN06</a></td></tr>
	
	<tr><td><a href="jul06.html">JUL06</a></td>
	<td><a href="aug06.html">AUG06</a></td>
	<td><a href="sep06.html">SEP06</a></td></tr>
	
	<tr><td><a href="oct06.html">OCT06</a></td>
	<td><a href="nov06.html">NOV06</a></td>
	<td><a href="dec06.html">DEC06</a></td></tr>
	</table>
</td>
</tr>

<!-- #### 2003 - 2005 ######### -->

<tr>
<td>
	<table border=1 cellpadding=5 cellspacing=2>

	<tr><td colspan=3 align=center><a href="all05.html">2005</a></td></tr>

	<tr><td><a href="jan05.html">JAN05</a></td>
	<td><a href="feb05.html">FEB05</a></td>
	<td><a href="mar05.html">MAR05</a></td></tr>
	
	<tr><td><a href="apr05.html">APR05</a></td>
	<td><a href="may05.html">MAY05</a></td>
	<td><a href="jun05.html">JUN05</a></td></tr>
	
	<tr><td><a href="jul05.html">JUL05</a></td>
	<td><a href="aug05.html">AUG05</a></td>
	<td><a href="sep05.html">SEP05</a></td></tr>
	
	<tr><td><a href="oct05.html">OCT05</a></td>
	<td><a href="nov05.html">NOV05</a></td>
	<td><a href="dec05.html">DEC05</a></td></tr>
	</table>
</td>
<td>
	<table border=1 cellpadding=5 cellspacing=2>

	<tr><td colspan=3 align=center><a href="all04.html">2004</a></td></tr>

	<tr><td><a href="jan04.html">JAN04</a></td>
	<td><a href="feb04.html">FEB04</a></td>
	<td><a href="mar04.html">MAR04</a></td></tr>
	
	<tr><td><a href="apr04.html">APR04</a></td>
	<td><a href="may04.html">MAY04</a></td>
	<td><a href="jun04.html">JUN04</a></td></tr>
	
	<tr><td><a href="jul04.html">JUL04</a></td>
	<td><a href="aug04.html">AUG04</a></td>
	<td><a href="sep04.html">SEP04</a></td></tr>
	
	<tr><td><a href="oct04.html">OCT04</a></td>
	<td><a href="nov04.html">NOV04</a></td>
	<td><a href="dec04.html">DEC04</a></td></tr>
	</table>
</td>
<td>
	<table border=1 cellpadding=5 cellspacing=2>

	<tr><td colspan=3 align=center><a href="all03.html">2003</a></td></tr>

	<tr><td><a href="jan03.html">JAN03</a></td>
	<td><a href="feb03.html">FEB03</a></td>
	<td><a href="mar03.html">MAR03</a></td></tr>
	
	<tr><td><a href="apr03.html">APR03</a></td>
	<td><a href="may03.html">MAY03</a></td>
	<td><a href="jun03.html">JUN03</a></td></tr>
	
	<tr><td><a href="jul03.html">JUL03</a></td>
	<td><a href="aug03.html">AUG03</a></td>
	<td><a href="sep03.html">SEP03</a></td></tr>
	
	<tr><td><a href="oct03.html">OCT03</a></td>
	<td><a href="nov03.html">NOV03</a></td>
	<td><a href="dec03.html">DEC03</a></td></tr>
	</table>
</td>
</tr>

<!-- ##### 2000 - 2002 ######## -->

<tr>
<td>
	<table border=1 cellpadding=5 cellspacing=2>

	<tr><td colspan=3 align=center><a href="all02.html">2002</a></td></tr>

	<tr><td><a href="jan02.html">JAN02</a></td>
	<td><a href="feb02.html">FEB02</a></td>
	<td><a href="mar02.html">MAR02</a></td></tr>
	
	<tr><td><a href="apr02.html">APR02</a></td>
	<td><a href="may02.html">MAY02</a></td>
	<td><a href="jun02.html">JUN02</a></td></tr>
	
	<tr><td><a href="jul02.html">JUL02</a></td>
	<td><a href="aug02.html">AUG02</a></td>
	<td><a href="sep02.html">SEP02</a></td></tr>
	
	<tr><td><a href="oct02.html">OCT02</a></td>
	<td><a href="nov02.html">NOV02</a></td>
	<td><a href="dec02.html">DEC02</a></td></tr>
	</table>
</td>
<td>
	<table border=1 cellpadding=5 cellspacing=2>

	<tr><td colspan=3 align=center><a href="all01.html">2001</a></td></tr>

	<tr><td><a href="jan01.html">JAN01</a></td>
	<td><a href="feb01.html">FEB01</a></td>
	<td><a href="mar01.html">MAR01</a></td></tr>
	
	<tr><td><a href="apr01.html">APR01</a></td>
	<td><a href="may01.html">MAY01</a></td>
	<td><a href="jun01.html">JUN01</a></td></tr>
	
	<tr><td><a href="jul01.html">JUL01</a></td>
	<td><a href="aug01.html">AUG01</a></td>
	<td><a href="sep01.html">SEP01</a></td></tr>
	
	<tr><td><a href="oct01.html">OCT01</a></td>
	<td><a href="nov01.html">NOV01</a></td>
	<td><a href="dec01.html">DEC01</a></td></tr>
	</table>
</td>
<td>
	<table border=1 cellpadding=5 cellspacing=2>

	<tr><td colspan=3 align=center>2000</td></tr>

	<tr><td><a href="jan00.html">JAN00</a></td>
	<td><a href="feb00.html">FEB00</a></td>
	<td>MAR00</td></tr>
	
	<tr><td>APR00</td>
	<td><a href="may00.html">MAY00</a></td>
	<td><a href="jun00.html">JUN00</a></td></tr>
	
	<td><a href="jul00.html">JUL00</a></td>
	<td><a href="aug00.html">AUG00</a></td>
	<td><a href="sep00.html">SEP00</a></td></tr>
	
	<tr><td><a href="oct00.html">OCT00</a></td>
	<td><a href="nov00.html">NOV00</a></td>
	<td><a href="dec00.html">DEC00</a></td></tr>
	</table>
</td>
</tr>
</table>
</center>

<br><hr><br>
<center>
MOST CURRENT DATA:<br>
</center>
<ul>EPHIN and ACIS data are obtained from the standard data pipeline.  Therefore this plot lags behind the <a href="http://asc.harvard.edu/mta/ace.html">most current ACE</a> and <a href="http://asc.harvard.edu/mta/RADIATION/pgplot.gif">most current GOES</a> data and may be incomplete.
</ul>
<br>
<img src="rad_cnts_curr.gif">
<img src="rad_use_curr.gif">
<br><hr><br>

<br>
Maintained by <u>bspitzbart at cfa.harvard.edu</u>
<br>
</BODY>
</HTML>
